apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- nginx-deployment.yaml
- nginx-service.yaml

patches:
  - path: patch-replicas.yaml
  - target:
      kind: Deployment
      name: nginx-deployment-prod
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0
        value:
          name: nginx-image
  - target:
      kind: Service
      name: nginx-service-prod
    patch: |-
      - op: replace      
        path: /metadata/name
        value: nginx-service
    


